:root {
  --black1: #00040d;
  --black2: #010912;
  --black3: #1202397d;
  --white1: #ffffff;
  --white2: #eae3e3a7;
  --brown: rgba(165, 42, 42, 0.525);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
* a {
  color: black;
  text-decoration: none;
}
* li {
  list-style: none;
}

body {
  height: 100vh;
  position: relative;
  overflow: hidden !important;
}

header {
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
  z-index: 100;
  box-shadow: -10px 1px 35px #FFFF00;
}
header nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h4 {
  font-size: 1.2rem;
  font-style: italic;
  padding: 0.5rem;
}
header nav h4 a {
  color: white;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0 1rem;
}
header nav ul li {
  padding: 0.5rem;
}
header nav ul li a {
  color: var(--brown);
}
header nav .burger {
  cursor: pointer;
  display: none;
}
header nav .burger div {
  width: 25px;
  height: 3px;
  background-color: var(--brown);
  margin: 5px;
  transition: all 0.3s ease;
}

main {
  background-color: var(--black1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .section {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section .main-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section .main-page-content h2 {
  font-style: italic;
  font-size: 2rem;
  display: flex;
  color: var(--white2);
  margin: 0 0 3% 0;
}
main .section .main-page-content .clock {
  color: var(--brown);
}
main .section .main-page-content p {
  font-style: italic;
  color: var(--white2);
  margin: 3% 0 0 0;
}
main .projects::-webkit-scrollbar, main .top::-webkit-scrollbar {
  display: none;
}
main .portfolio {
  width: 100%;
  height: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black1);
  overflow: hidden;
}
main .portfolio h1 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--white1);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.2rem;
  width: 100%;
  margin: 5% 0 0 0;
}
main .portfolio .projects {
  width: 100%;
  height: 95%;
  align-self: center;
  display: grid;
  grid-template: repeat(4, 200px)/repeat(auto-fit, 300px);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr)); */
  overflow: scroll;
  justify-content: center;
  grid-gap: 1rem;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 1% 0 5% 0;
}
main .portfolio .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  background-color: var(--black1);
  box-shadow: 1px 1px 3px var(--white2);
}
main .portfolio .projects .project a {
  color: var(--white2);
  font-size: 1.2rem;
  margin: 15% 0 0 3%;
  font-weight: bold;
  width: 80%;
}
main .portfolio .projects .project a:hover {
  color: var(--black1);
  background-color: #FFFF00;
  box-shadow: 0 0 0 1px rgba(255, 255, 0, 0.2666666667), 0 0 200px #FFFF00, 0 0 200px #FFFF00;
}
main .portfolio .projects .project p {
  color: white;
  margin: 0 3% 10% 3%;
  text-transform: uppercase;
}

.lights span {
  position: absolute;
  width: 1.0101010101vw;
  height: 1.0101010101vw;
  margin: 0 4px;
  border-radius: 50%;
  z-index: 10000;
  transform: scale(0.1);
}
.lights .odd-one {
  background: #4fc3dc;
  box-shadow: 0 0 0 8px rgba(79, 195, 220, 0.2666666667), 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate-one 40s linear infinite;
  bottom: 1.7%;
}
.lights .even-two {
  background: #ff2d75;
  box-shadow: 0 0 0 10px rgba(255, 45, 117, 0.2666666667), 0 0 10px #ff2d75, 0 0 10px #ff2d75;
  bottom: 5%;
  animation: animate-two 15s linear infinite;
}
.lights .odd-three {
  background: #FFFF00;
  box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.2666666667), 0 0 200px #FFFF00, 0 0 200px #FFFF00;
  bottom: 8%;
  animation: animate-three 8s linear infinite;
}
.lights .even-four {
  background: #48ff00;
  box-shadow: 0 0 0 10px rgba(72, 255, 0, 0.2666666667), 0 0 200px #48ff00, 0 0 200px #48ff00;
  bottom: 8%;
  animation: animate-four 50s linear infinite;
  animation-delay: 20s;
  transform: scale(0.1);
  transition: 1s ease-in-out;
}
.lights .odd-five {
  background: #c300ff;
  box-shadow: 0 0 0 10px rgba(195, 0, 255, 0.2666666667), 0 0 200px #c300ff, 0 0 200px #c300ff;
  bottom: 8%;
  animation: animate-five 20s linear infinite;
  animation-delay: 15s;
  transform: scale(0.1);
}
.lights .white-one {
  background: #ece0bf;
  box-shadow: 0 0 0 10px rgba(236, 224, 191, 0.2666666667), 0 0 200px #ece0bf, 0 0 200px #ece0bf;
  bottom: 0;
  left: 0;
  animation: animate-two 20s linear infinite;
  z-index: 999999999;
}

.lights .odd-one:nth-of-type(1) {
  left: 0;
  bottom: 50%;
}
.lights .odd-one:nth-of-type(6) {
  left: 11%;
  bottom: 30%;
}
.lights .odd-one:nth-of-type(9) {
  left: 22%;
  bottom: 75%;
}
.lights .odd-one:nth-of-type(14) {
  left: 33%;
}
.lights .odd-one:nth-of-type(17) {
  left: 44%;
  bottom: 40%;
}
.lights .odd-one:nth-of-type(22) {
  left: 55%;
  bottom: 80%;
}
.lights .odd-one:nth-of-type(25) {
  left: 66%;
  bottom: 15%;
}
.lights .odd-one:nth-of-type(30) {
  left: 82%;
  bottom: 85%;
}
.lights .odd-one:nth-of-type(33) {
  left: 88%;
}
.lights .even-two:nth-of-type(3) {
  left: 4%;
  bottom: 35%;
}
.lights .even-two:nth-of-type(5) {
  left: 14%;
}
.lights .even-two:nth-of-type(11) {
  left: 25.5%;
  bottom: 45%;
}
.lights .even-two:nth-of-type(13) {
  left: 36.7%;
  bottom: 90%;
}
.lights .even-two:nth-of-type(19) {
  left: 47.7%;
}
.lights .even-two:nth-of-type(21) {
  left: 59%;
  bottom: 45%;
}
.lights .even-two:nth-of-type(27) {
  left: 69.4%;
  bottom: 60%;
}
.lights .even-two:nth-of-type(29) {
  left: 81%;
  bottom: 23%;
}
.lights .even-two:nth-of-type(35) {
  left: 95.5%;
  bottom: 12%;
}
.lights .odd-three:nth-of-type(4) {
  left: 7.2%;
  bottom: 98%;
}
.lights .odd-three:nth-of-type(8) {
  left: 18%;
  bottom: 50%;
}
.lights .odd-three:nth-of-type(12) {
  left: 0%;
}
.lights .odd-three:nth-of-type(16) {
  left: 30%;
  bottom: 70%;
}
.lights .odd-three:nth-of-type(20) {
  left: 51%;
  bottom: 54%;
}
.lights .odd-three:nth-of-type(24) {
  left: 70%;
  bottom: 70%;
}
.lights .odd-three:nth-of-type(28) {
  left: 80%;
}
.lights .odd-three:nth-of-type(32) {
  left: 85%;
  bottom: 48%;
}
.lights .odd-three:nth-of-type(36) {
  left: 95%;
  bottom: 94%;
}
.lights .even-four:nth-of-type(2) {
  left: 0%;
  bottom: 0%;
}
.lights .even-four:nth-of-type(7) {
  left: 20%;
  bottom: 60%;
}
.lights .even-four:nth-of-type(10) {
  left: 90%;
  bottom: 100%;
}
.lights .even-four:nth-of-type(15) {
  left: 50%;
  bottom: 0%;
}
.lights .even-four:nth-of-type(18) {
  left: 50%;
  bottom: 50%;
}
.lights .even-four:nth-of-type(23) {
  left: 90%;
  bottom: 0%;
}
.lights .even-four:nth-of-type(26) {
  left: 10%;
  bottom: 0%;
}
.lights .even-four:nth-of-type(31) {
  left: 0%;
  bottom: 50%;
}
.lights .even-four:nth-of-type(34) {
  left: 90%;
  bottom: 50%;
}
.lights .odd-five:nth-of-type(37) {
  left: 95%;
  bottom: 80%;
}
.lights .odd-five:nth-of-type(38) {
  left: 90%;
  bottom: 40%;
}
.lights .odd-five:nth-of-type(39) {
  left: 80%;
  bottom: 0%;
}
.lights .odd-five:nth-of-type(40) {
  left: 70%;
  bottom: 80%;
}
.lights .odd-five:nth-of-type(41) {
  left: 55%;
  bottom: 50%;
}
.lights .odd-five:nth-of-type(42) {
  left: 40%;
  bottom: 3%;
}
.lights .odd-five:nth-of-type(43) {
  left: 30%;
  bottom: 80%;
}
.lights .odd-five:nth-of-type(44) {
  left: 10%;
  bottom: 40%;
}
.lights .odd-five:nth-of-type(45) {
  left: 0%;
  bottom: 90%;
}
.lights .white-one:nth-of-type(46) {
  left: 0%;
  bottom: 90%;
}
.lights .white-one:nth-of-type(47) {
  left: 10%;
  bottom: 50%;
}
.lights .white-one:nth-of-type(48) {
  left: 20%;
  bottom: 30%;
}
.lights .white-one:nth-of-type(49) {
  left: 30%;
  bottom: 60%;
}
.lights .white-one:nth-of-type(50) {
  left: 40%;
  bottom: 0%;
}
.lights .white-one:nth-of-type(51) {
  left: 50%;
  bottom: 50%;
}
.lights .white-one:nth-of-type(52) {
  left: 60%;
  bottom: 98%;
}
.lights .white-one:nth-of-type(53) {
  left: 70%;
  bottom: 10%;
}
.lights .white-one:nth-of-type(54) {
  left: 80%;
  bottom: 35%;
}
.lights .white-one:nth-of-type(55) {
  left: 90%;
  bottom: 90%;
}
.lights .white-one:nth-of-type(56) {
  left: 100%;
  bottom: 0%;
}
@keyframes animate-one {
  30% {
    background: #1906cc;
    box-shadow: 0 0 0 10px rgba(25, 6, 204, 0.2666666667), 0 0 50px #1906cc, 0 0 100px #1906cc;
  }
  60% {
    background: #49f822;
    box-shadow: 0 0 0 10px rgba(73, 248, 34, 0.2666666667), 0 0 50px #49f822, 0 0 100px #49f822;
  }
  100% {
    bottom: 110%;
  }
}
@keyframes animate-two {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes animate-three {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes animate-four {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(0);
  }
  80% {
    transform: scale(0.1);
  }
  100% {
    bottom: 110%;
    transform: scale(0.2);
  }
}
@keyframes animate-five {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(0);
  }
  80% {
    transform: scale(0.1);
  }
  100% {
    bottom: 110%;
    transform: scale(0.2);
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: hidden !important;
  }
  main {
    overflow: hidden !important;
  }
  main .portfolio h1 {
    margin: 6% 0;
    font-size: 1.3rem;
    letter-spacing: unset;
  }
  header {
    overflow: hidden !important;
    position: relative;
  }
  header nav {
    overflow: hidden !important;
  }
  header nav .burger {
    display: block !important;
  }
  header nav ul {
    position: fixed;
    top: 10vh;
    width: 60%;
    right: -100%;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    transition: 2s ease-in-out;
    background-color: var(--black2);
  }
  header nav ul li {
    width: 80%;
    display: grid;
    place-items: center;
    transition: 2.5s ease-in-out;
    visibility: hidden;
  }
  header nav ul li a {
    transition: 3s ease-in-out;
    opacity: 0;
    color: var(--white2);
  }
  header nav .show-nav {
    right: 0;
  }
  header nav .show-nav li {
    visibility: visible;
  }
  header nav .show-nav li a {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */